* {
    padding: 0;
    margin: 0;
    transition: all .1s ease-in;
}


.container {
    width: 90%;
    max-width: 534px;
    margin: 0 auto;
}

body {
    background-color: #3B3F45;;
}

header {
    height: 82px;
    background-color: #4A4F56;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FF8984;
    padding: 19px 0 0;
    margin: 0 auto;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FF8984;
    padding: 4px 0 0;
    margin: 0 auto;
}

div.container {
    margin-top: 20px;
}

ul li {
    list-style: none;
    height: 39px;
    background: #88839E;
    border-top: 3px solid #88839E;
    border-bottom: 3px solid #88839E;
}

li:nth-child(even) {
    background: #7A7593;
    border-top: 3px solid #7A7593;
    border-bottom: 3px solid #7A7593;
}

footer.container {
    height: 45px;
    background: #4A4F56; 
    margin-top: 45px;
}

.p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FF8984;
    text-align: center;
    padding: 12px;
}

input[type="checkbox"] {
    width: 19px;
    height: 19px;
    margin: 12px 16px 14px 12px;
}

ul span {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

input:checked + label {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #9B96AC;
    text-decoration-line: line-through;
}

label:not(span) {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

ul li:active {
    background-color: tomato;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}

li:hover {
    background: #625E77;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}