* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s ease-in;
}
body {
    background: #3399CC;
    border: 25px solid #2B81AC;
    height: 100vh;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}
.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
h2 {
    margin-top: 60px;
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
}
h3 {
    margin-top: 35px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
ul {
    margin-top: 35px;
    list-style: none;
    font-size: 0;
    background-color: #FFFFFF;
    padding: 2px;
}
ul:hover li:not(:hover) {
    opacity: 0.5;
}
ul li {
    display: inline-block;
    border: 2px solid #FFFFFF;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding: 26px 0;  
}
#lisabon {
    width: 50%;
    background: #7ac4e9;
}
#paris {
    width: 25%;
    background: #33CCCC;
}
#belgrade {
    width: 25%;
    background: #996699;
}
#venice {
    width: 25%;
    background: #C24747;
}
#tel-avive {
    width: 25%;
    background: #E2674A;
}
#cair {
    width: 25%;
    background: #FFCC66;
}
#new-york {
    width: 25%;
    background: #99CC99;
}
#new-delhi {
    width: 25%;
    background: #669999;
}
#san-francisco {
    width: 50%;
    background: #CC6699;
}
#tokyo {
    width: 25%;
    background: #339966;
}
#sydney {
    width: 100%;
    background: #666699;
}
.wi { 
    margin-left: 10px;
}
p {
    margin-top: 19px;
    color: rgba(255, 255, 255, 0.7);
}